.a {
  a: sign(-5px);
  b: pow(2, 3);
  c: sqrt(4);
  d: log(8, 2);
  e: hypot(3px, 4cm);
  f: sin(30deg);
  g: cos(0);
  h: tan(45deg);
  i: asin(0.5);
  j: atan2(1, 1);
  k: rem(10px, 3pt);
  l: mod(-10, 3);
}
